spacy
pdfplumber
pydantic
rapidfuzz
fastapi
python-multipart
uvicorn
pytest
python-dotenv
neo4j
psycopg2-binary
redis
celery
sentence-transformers
python-docx
sqlalchemy
passlib
bcrypt==4.0.1
python-jose[cryptography]
